.filter-bar {
  display: flex;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically if needed */
  margin: 10px;
  margin-left: 50px;
  width: calc(100% - 50px); /* Adjust for the left margin */
}

.filter-by-option {
  flex: 1; /* Each option will take up equal space */
  text-align: center; /* Center text within each option */
  margin: 0 10px; /* Optional: Horizontal margins between items */
}

.filter-by-option__item {
  display: inline-block;
  margin: 10px;
  width: 12.5%; /* Items take full width of their container */
}
